html {
    font-family: "Trebuchet MS";
    /* margin-left: 60%; */
    
}

 
.mobile #label_filtro {
    margin-left: 5%;
}
.mobile h1 {
    zoom: 3;
}
.mobile h7 {
    zoom: 2;
}
.mobile .dropdown {
    margin-left: 3%;
}
.mobile h3 {
    margin-left: 5%;
    margin-top: -5%;
    zoom: 3;
    font-size: 18px;
}
.mobile h4 {
    margin-left: 10%;
    width: 80%;
    font-size: 30px;
    zoom: 2.2;
}

.mobile input {
    zoom: 2;
}
.mobile select {
    zoom: 2;
    height: 25px;
    padding-top: 1.3%;
}

.mobile label {
    zoom: 3.5;
    font-size: 20px;
}
.mobile #label {
    font-size: 20px;
}
.mobile button{
    zoom: 2.5;
}
.mobile #insert{
    zoom: 2.5;
}
.mobile table {
    zoom: 2;
}
.mobile .pac-container.pac-logo.hdpi {
    zoom: 2;
}
.mobile #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile button {
    margin: 10px; /* Add some margin between the buttons */
}



.mobile h1,h3,h4,button,#form,#insert,#resultado,#botones {
    text-align: center;
}

.dark #img {
    filter: invert(100%);
}
.web h1,h3,h4,button,#form,#insert,#resultado,#botones {
    text-align: center;
}

/* #mensaje {
    margin-top: 10px;
} */


#mensajeForm {
    position: relative;
    bottom: 0;
    margin-top: 500px;
    padding-bottom: 100px;
    padding-left: 5%;
} 
.web p {
    font-size: 12px;
}
a {
    text-decoration: none;
    color: #14202b;
}
.dark a {
    text-decoration: none;
    color: white;
}



.web #container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.web button {
    margin: 10px; /* Add some margin between the buttons */
}


button {
    padding: 5px;
}






/* Set the border-collapse property to collapse to remove spaces between cells */
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

/* tabla */
tr {
    border: 1px solid black;
    padding: 8px;
}
/* header */
th {
    background-color: #4CAF50;
    border-bottom: 1px solid black;
    color: white;
    padding: 6px;
}
/* filas */
td {
    border-bottom: 1px solid black;
    border-right: 0.5px solid #c1c0bc;
    padding: 8px;
}
td:last-child {
    border-bottom: 0.5px solid black;
    border-right: 1px solid black;
    padding: 8px;
}


.dark tr {
    border: 1px solid #c1c0bc;
    padding: 8px;
}
.dark th {
    background-color: #4CAF50;
    border-bottom: 1px solid #c1c0bc;
    color: white;
    padding: 6px;
}
.dark td {
    border-bottom: 1px solid #c1c0bc;
    border-right: 0.5px solid #c1c0bc;
    padding: 8px;
}
.dark td:last-child {
    border-bottom: 0.5px solid #c1c0bc;
    border-right: 1px solid #c1c0bc;
    padding: 8px;
}

  
.dark {
    background-color: #14202b;
    color: white;
}
.stars {
    color: gold;
}
#resultado {
    padding: 2%;
}
.mobile #resultado {
    padding: 2%;
}





#map {
    height: 100%;
    width: 100%;
}
#mapa {
    padding: 1%;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}



#infowindow-content .title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}


.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}


#pac-input {
  background-color: #fff;
  font-family: "Trebuchet MS";
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 3px;
  padding: 2 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}


#place-name {
    color: black;
}
#place-address {
    color: black;
}





.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    color: black;
    padding-top: 90px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5); 
}
    
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    /* margin: auto; */
    margin-left: 25%;
    margin-top: 420px;
    padding: 5px;
    border: 2px solid red;
    width: 60%;
}
.modal-content2 ul li {
    text-align: left;
}
.modal-content ul li {
    text-align: left;
}


.hand-pointer {
    cursor: pointer;
}




#info_modal, #info_modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    color: black;
    padding-top: 90px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5); 
}
    
/* Modal Content */
.modal-content2{
    background-color: #fefefe;
    font-size: 14px;
    /* margin: auto; */
    margin-left: 20%;
    margin-top: 20px;
    padding: 5px;
    border: 2px solid red;
    width: 60%;
}


#img {
    margin-left: 30px;
    height: 35px;
    width: 35px;
}
#icon_map, #icon_hours{
    height: 25px;
    width: 25px;
}
.dark #icon_hours {
    filter: invert(100%);
}
.dark #icon_map {
    filter: invert(100%);
}

