html {
    font-family: "Trebuchet MS";
    margin-left: 60%;
}

 

.ios h1 {
    zoom: 3;
}
.ios h3 {
    margin-left: 5%;
    margin-top: -5%;
    zoom: 3;
    font-size: 18px;
}
.ios h4 {
    margin-left: 60%;
    zoom: 4;
    font-size: 10px;
}
.ios select,input {
    zoom: 2;
}
.ios label {
    zoom: 3.5;
    font-size: 15px;
    margin-left: 5%;
}
.ios #label {
    font-size: 18px;
}
.ios #all{
    zoom: 2.5;
    margin-left: 5%;
}
.ios #insert{
    zoom: 2.5;
}
.ios table {
    zoom: 2;

}
.ios .pac-container.pac-logo.hdpi {
    zoom: 2;
}


.android h1 {
    zoom: 3;
}
.android h3 {
    margin-left: 5%;
    margin-top: -5%;
    zoom: 3;
    font-size: 15px;
}
.android h4 {
    margin-left: 60%;
    zoom: 4;
    font-size: 10px;
}
.android select,input {
    zoom: 2;
}
.android label {
    zoom: 3.5;
    font-size: 15px;
    margin-left: 5%;
}
.android #label {
    font-size: 18px;
}
.android #all{
    zoom: 2.5;
    margin-left: 5%;
}
.android #insert{
    zoom: 2.5;
}
.android table {
    zoom: 2;
}
.android .pac-container.pac-logo.hdpi {
    zoom: 2;
}



.dark #img {
    filter: invert(100%);
}

.web h1,h3,h4, button, label {
    zoom: 1;
    margin-left: 30%;
}
.web #pac-input {
    zoom: 1;
    margin-left: 3%;
}
.web #all {
    zoom: 1;
    margin-left: 3%;
}

#img {
    margin-left: 30px;
    height: 35px;
    width: 35px;
}

.h1 {
    padding-left: 120px;
}
h3 {
    max-width: fit-content;
}
h4 {
    max-width: fit-content;
    margin-left: 60%;
    margin-top: -10px
}

form {
    font-size: 18px;
    width: 100%;
}
/* Set the border-collapse property to collapse to remove spaces between cells */
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

/* tabla */
tr {
    border: 1px solid black;
    padding: 8px;
}
/* header */
th {
    background-color: #4CAF50;
    border-bottom: 1px solid black;
    color: white;
    padding: 6px;
}
/* filas */
td {
    border-bottom: 1px solid black;
    border-right: 0.5px solid #c1c0bc;
    padding: 8px;
}
td:last-child {
    border-bottom: 0.5px solid black;
    border-right: 1px solid black;
    padding: 8px;
}


.dark tr {
    border: 1px solid #c1c0bc;
    padding: 8px;
}
.dark th {
    background-color: #4CAF50;
    border-bottom: 1px solid #c1c0bc;
    color: white;
    padding: 6px;
}
.dark td {
    border-bottom: 1px solid #c1c0bc;
    border-right: 0.5px solid #c1c0bc;
    padding: 8px;
}
.dark td:last-child {
    border-bottom: 0.5px solid #c1c0bc;
    border-right: 1px solid #c1c0bc;
    padding: 8px;
}

  
.dark {
    background-color: #14202b;
    color: white;
}


.stars {
    color: gold;
}
#resultado {
    padding-bottom: 80px;
}

/* #resultado2 .tr {
    height: 10px;
    overflow-y: scroll;
} */



/**
 * @license
 * Copyright 2019 Google LLC. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */
/* 
  * Always set the map height explicitly to define the size of the div element
  * that contains the map. 
  */
#map {
    height: 100%;
    width: 100%;
}
#mapa {
    margin-top: 10px;

}

/* 
  * Optional: Makes the sample page fill the window. 
  */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}



#infowindow-content .title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}


.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}


#pac-input {
  background-color: #fff;
  font-family: "Trebuchet MS";
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 3px;
  padding: 2 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}


#place-name {
    color: black;
}
#place-address {
    color: black;
}