html {
    font-family: "Trebuchet MS";
    margin-left: 60%;
}

 
.mobile #label_filtro {
    margin-left: 5%;
}
.mobile h1 {
    zoom: 3;
}
.mobile h7 {
    zoom: 2;
}
.mobile .dropdown {
    margin-left: 3%;
}
.mobile h3 {
    margin-left: 5%;
    margin-top: -5%;
    zoom: 3;
    font-size: 18px;
}
.mobile h4 {
    margin-left: 10%;
    zoom: 2;
}
.mobile input {
    zoom: 2;
}

.mobile select {
    zoom: 2;
    height: 25px;
    padding-top: 1.3%;

}


button {
    padding: 5px;
    margin-left: 40px;
}
.mobile label {
    zoom: 3.5;
    font-size: 15px;
    margin-left: 5%;
}
.mobile #label {
    font-size: 18px;
}
.mobile button{
    zoom: 2.5;
}
.mobile #insert{
    zoom: 2.5;
}
.mobile table {
    zoom: 2;

}
.mobile .pac-container.pac-logo.hdpi {
    zoom: 2;
}



.dark #img {
    filter: invert(100%);
}

.web h1,h3, button, label {
    zoom: 1;
    margin-left: 30%;
}
.web #pac-input {
    zoom: 1;
    margin-left: 3%;
}
.web #all {
    zoom: 1;
    margin-left: 3%;
}

#img {
    margin-left: 30px;
    height: 35px;
    width: 35px;
}

/* .h1 {
    padding-left: 120px;
} */
#label_filtro, #h1{
    margin-left: 35%;
    max-width: fit-content;
}
/* h4 {
    max-width: fit-content;
    margin-left: 60%;
    margin-top: -10px
} */
select {
    height: 20px;
}
button {
    padding: 5px;
}
form {
    font-size: 18px;
    width: 100%;
}
/* Set the border-collapse property to collapse to remove spaces between cells */
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

/* tabla */
tr {
    border: 1px solid black;
    padding: 8px;
}
/* header */
th {
    background-color: #4CAF50;
    border-bottom: 1px solid black;
    color: white;
    padding: 6px;
}
/* filas */
td {
    border-bottom: 1px solid black;
    border-right: 0.5px solid #c1c0bc;
    padding: 8px;
}
td:last-child {
    border-bottom: 0.5px solid black;
    border-right: 1px solid black;
    padding: 8px;
}


.dark tr {
    border: 1px solid #c1c0bc;
    padding: 8px;
}
.dark th {
    background-color: #4CAF50;
    border-bottom: 1px solid #c1c0bc;
    color: white;
    padding: 6px;
}
.dark td {
    border-bottom: 1px solid #c1c0bc;
    border-right: 0.5px solid #c1c0bc;
    padding: 8px;
}
.dark td:last-child {
    border-bottom: 0.5px solid #c1c0bc;
    border-right: 1px solid #c1c0bc;
    padding: 8px;
}

  
.dark {
    background-color: #14202b;
    color: white;
}


.stars {
    color: gold;
}
#resultado {
    padding-bottom: 80px;
}





/**
 * @license
 * Copyright 2019 Google LLC. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */
/* 
  * Always set the map height explicitly to define the size of the div element
  * that contains the map. 
  */
#map {
    height: 100%;
    width: 100%;
}
#mapa {
    margin-top: 10px;

}

/* 
  * Optional: Makes the sample page fill the window. 
  */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}



#infowindow-content .title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}


.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}


#pac-input {
  background-color: #fff;
  font-family: "Trebuchet MS";
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 3px;
  padding: 2 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}


#place-name {
    color: black;
}
#place-address {
    color: black;
}





.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    color: black;
    padding-top: 90px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5); 
}
    
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    /* margin: auto; */
    margin-left: 25%;
    margin-top: 420px;
    padding: 5px;
    border: 2px solid red;
    width: 60%;
}

.hand-pointer {
    cursor: pointer;
}